[Game]
FrameRate=30
PauseScreen=on
Stage3=on

[Background]
Sprite=:/resources/background.png
Width=500
Height=512
DayDuration=60000

[Stickman]
Size=normal
MaxJumps=4
XOffset=100
XVelocity=150.0
Sprites=:/resources/flap_up.png :/resources/flap_down.png
SpriteDuration=250
JumpForce=400
Gravity=1200
Lives=10

[Levels]
Levels=2
1=../superstickmanpt3/level1.config
