[Game]
FrameRate=30
PauseScreen=on
Stage3=on

[Background]
Sprite=:/resources/background.png
Width=500
Height=512
DayDuration=60000

[Stickman]
Size=tiny
MaxJumps=4
XOffset=100
XVelocity=150.0
Sprites=:/resources/flap_up.png :/resources/flap_down.png
SpriteDuration=250
JumpForce=400
Gravity=1200
Lives=10

[Levels]
Levels=4
1=../Stage2BaseCodeF/level1.config
2=../Stage2BaseCodeF/level2.config
3=../Stage2BaseCodeF/level3.config
4=../Stage2BaseCodeF/level4.config

[Level]
UnitsInPixels=32
RangeStart=1
RangeEnd=1000
1=1x1 0 2
2=1x1 0 2
3=1x1 0 2
4=1x1 0 2
5=1x1 0 3
6=1x1 0 0
7=1x1 0 1
8=1x1 0 1
9=1x1 2 1
10=1x1 0 3
11=1x1 0 3
12=1x1 3 3
13=1x1 0 3
14=1x1 0 3
15=1x1 4 3
13=1x1 0 3
14=1x1 0 3
15=1x1 0 3

[1x1]
Sprite=:/resources/block_brown.png
Width=1
Height=1

[2x1]
Sprite=:/resources/block_brown.png
Width=2
Height=2

[3x2]
Sprite=:/resources/block_brown.png
Width=3
Height=3

[4x3]
Sprite=:/resources/block_brown.png
Width=4
Height=4

[5x4]
Sprite=:/resources/block_brown.png
Width=5
Height=5

[6x5]
Sprite=:/resources/block_brown.png
Width=6
Height=6
