--Final block in list is the goal node. 
--Use negative spacing of 2nd last block for total freedom of its position.
--Obstacle format: Name (must be consecutive integers), Type, Spacing, Height
[Level]
UnitsInPixels=32
RangeStart=1
RangeEnd=1000
1=1x1 0 10
2=1x1 0 9
3=1x1 0 8
4=1x1 0 7
5=1x1 0 6
6=1x1 0 5
7=1x1 0 4
8=1x1 0 3
9=1x1 -15 2
10=2x1 0 13

[Powerups]
UnitsInPixels=16
1=3x1 5 0
2=3x1 4 3

[1x1]
Sprite=:/resources/block_brown.png
Width=2
Height=2

[2x1]
Sprite=:/resources/block_goal.png
Width=2
Height=2

[3x1]
Sprite=:/resources/block_powerup.png
Width=1
Height=1